html {font-family: helvetica;
text-align: center;}

#menu, #ny {background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");}

h1 {font-size: 70px;
font-weight: bold;
color: white;}

.links {font-size: 18px;
color: white;
text-decoration: underline;}

h2 {font-size:32px;
font-weight: bold;}

h3 {font-size: 23px;
font-weight: bold;}

p {font-size: 14px;}

.footer {background-color: dimgray; text-align: left;}
